@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
html, body {
  background-color: rgb(20, 24, 28);
  color: white;
  line-height: 1.6;
  font-size: 1.1em;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #56A866;
  font-weight: bold;
}

.btn-primary {
  background-color: #56A866;
  border: 1px solid #56A866;
}

.btn-primary:hover {
  background-color: #EA4033;
  border: 1px solid #EA4033;
}

a:hover {
  color: #EA4033;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  border-radius: 5px;
}

.close:hover {
  color: #EA4033;
}

a {
  text-decoration: none;
  color: #EA4033;
}
a:hover {
  color: #56A866;
}

.text-justify {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-yellow {
  color: #EA4033;
}

.text-white {
  color: white;
}

.text-primary {
  color: #56A866;
}

.text-dark {
  color: black;
}

.red {
  color: red;
  font-weight: bold;
}

.navbar {
  padding-bottom: 0;
  position: fixed;
  width: 100%;
  color: white;
  z-index: 9999;
  margin-bottom: 5px;
  display: none;
}
.navbar .logo {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}
.navbar .nav-link:hover {
  color: #56A866;
}

.hero {
  height: 100vh;
  margin: 0 auto;
  z-index: -9999;
  display: block;
  background-image: linear-gradient(rgba(124, 173, 137, 0.548), rgba(92, 59, 46, 0.589)), url("../images/hero1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 15px;
  width: 100%;
  padding-top: 50px;
  overflow: hidden;
  text-align: center;
}
.hero__content {
  width: 80%;
  margin: auto;
  height: 100%;
  padding-top: 110px;
  text-align: center;
}
.hero__content .title {
  font-size: 4em;
  font-weight: 700;
  color: #EA4033;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  text-align: center;
  width: 70%;
}
.hero__content .title .one {
  color: green;
}
.hero__content .title .two {
  color: yellow;
}
.hero__content .title .three {
  color: red;
  margin-right: 10px;
}
.hero__content .title .four, .hero__content .title .five {
  color: #1155CC;
}
.hero__content .title .six, .hero__content .title .seven {
  color: white;
}
.hero__content p {
  margin: 40px auto;
  font-weight: 800;
  font-size: 1.6em;
  color: white;
}

.categories {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 40px auto;
}
.categories .category {
  width: 200px;
  height: 120px;
  text-align: center;
  background-color: rgb(33, 37, 41);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  flex: 1;
  margin: 15px;
}
.categories .category__icon {
  color: #EA4033;
}
.categories .category__icon i {
  color: #EA4033;
  font-weight: bold;
}
.categories .category__name {
  color: white;
  font-weight: bold;
}
.categories .category:hover {
  background-color: #56A866;
}
.categories .category:hover__icon, .categories .category:hover__name {
  color: white;
}

.about, .offers {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 40px auto;
  border-radius: 5px;
}
.about__image, .offers__image {
  position: relative;
}
.about__image .image, .offers__image .image {
  width: 450px;
  height: 300px;
  margin: 35px auto auto 15px;
  border-radius: 10px;
  z-index: 999;
}
.about__image__bg, .offers__image__bg {
  width: 55%;
  background-color: #56A866;
  position: absolute;
  border-radius: 10px;
  top: 0;
  right: 0;
  z-index: -999;
  height: 370px;
}
.about__text, .offers__text {
  margin: 15px auto;
}
.about__text strong, .offers__text strong {
  color: #56A866;
}

.services {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0px auto;
}
.services__service {
  border-radius: 10px;
  border: 3px solid rgb(33, 37, 41);
  background-image: linear-gradient(rgba(72, 162, 236, 0.5), rgba(236, 222, 26, 0.5));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  margin: 10px;
  flex: 1;
  padding: 30px;
}
.services__service i {
  color: white;
  font-weight: bold;
}
.services__service h3 {
  margin: 30px auto;
  color: white;
}

.clients {
  display: block;
  text-align: center;
  margin: 20px auto;
}
.clients p {
  text-align: center;
  margin: 15px auto;
}
.clients__list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  flex-direction: row;
}
.clients__list__item {
  display: block;
  flex: 1;
}
.clients__list__item .circle {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #56A866;
  color: white;
  text-align: center;
  display: table;
  margin: auto;
}
.clients__list__item .circle p {
  vertical-align: middle;
  margin: 15px auto;
}
.clients__list__item p {
  margin: 10px auto;
}

.blog {
  text-align: center;
}
.blog h2 {
  width: 70%;
  margin: auto;
}
.blog__items {
  text-align: center;
}
.blog__items__item {
  border-radius: 5px;
  border: 3px solid rgb(33, 37, 41);
  position: relative;
  background-color: rgb(33, 37, 41);
  padding: 35px;
  margin: 10px;
}
.blog__items__item img {
  width: 90%;
  margin: auto;
}
.blog__items__item h4 {
  width: 90%;
  margin: 10px auto;
}
.blog__items__item p {
  width: 90%;
  margin: 10px auto;
}
.blog__items__item .date {
  position: absolute;
  border-radius: 5px;
  top: 215px;
  right: -30px;
  height: 195px;
  width: 75px;
  background-color: #EA4033;
  text-align: center;
  color: white;
  font-weight: bold;
}

.team {
  margin: auto;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  flex-direction: row;
}
.team__member {
  border-radius: 5px;
  background-color: rgb(33, 37, 41);
  border: 1px solid rgb(33, 37, 41);
  margin: 15px;
  width: 335px;
  padding-bottom: 10px;
  text-align: center;
  padding-top: 5px;
}
.team__member img {
  width: 300px;
  height: 230px;
  margin: 5px auto;
}
.team__member span {
  color: #56A866;
  font-weight: bold;
}
.team__member strong {
  color: white;
  font-weight: normal;
}
.team__member .links i {
  font-size: 1.4em;
  color: #56A866;
}
.team__member .links a:hover i {
  color: #EA4033;
}

.footer {
  background-color: rgb(33, 37, 41);
  color: white;
  padding: 60px 30px;
}
.footer i {
  color: #56A866;
  margin-right: 5px;
}
.footer__items {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  flex-direction: row;
}
.footer__items__item {
  display: block;
  padding: 0 30px;
  flex: 1;
}
.footer__items__item h4 {
  color: #56A866;
}
.footer__items__item ul {
  margin: 20px auto;
}
.footer__items__item ul li {
  margin: 15px auto;
  color: white;
}
.footer__items__item ul li i {
  margin-right: 10px;
}
.footer__items__item ul li a {
  color: white;
}
.footer__items__item ul li a:hover {
  color: #EA4033;
}
.footer__items__item .newsletters label input {
  width: 250px;
}
.footer__items__item .footer__gallery {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  flex-direction: row;
  padding-right: 15px;
}
.footer__items__item .footer__gallery img {
  width: 80px;
  height: 60px;
  border-radius: 10px;
  margin: 5px;
  border: 5px solid white;
}
.footer hr {
  width: 80%;
  margin: 20px auto;
  height: 1px;
  background-color: white;
}
.footer__bottom {
  margin: 25px auto;
}
.footer__bottom .text {
  text-align: center;
  color: white;
}
.footer__bottom .text p {
  text-align: center;
  color: #56A866;
  font-weight: bold;
}
.footer__bottom .text p strong {
  color: white;
}

/*responsive*/
@media (max-width: 575px) {
  .hero {
    height: 140vh;
    width: 100%;
  }
  .hero__content .title {
    width: 80%;
  }
  .about {
    text-align: center;
  }
  .about h2 {
    margin: auto auto auto 15px;
  }
  .about__image img {
    width: 330px;
    margin: auto;
  }
  .about__text .btn {
    margin: auto;
  }
  .services__service {
    padding: 8px;
  }
  .team__member {
    width: 330px;
    margin: 5px;
    text-align: center;
  }
  .team__member img {
    width: 280px;
    margin: auto;
  }
  .blog__items__item .date {
    top: 170px;
    font-size: 0.8em;
    width: 65px;
    right: -10px;
  }
}/*# sourceMappingURL=style.css.map */